Language: Cpp

BasedOnStyle: Chromium

IndentWidth: 4
UseTab: Never

BreakBeforeBraces: Attach
ColumnLimit: 100
ReflowComments: false

BinPackArguments: false
BinPackParameters: OnePerLine
# AlignAfterOpenBracket: Align
AlignAfterOpenBracket: DontAlign
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AllowShortEnumsOnASingleLine: true
BreakAfterReturnType: None
RequiresClausePosition: SingleLine
