# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
!vendor/**/*.exe
*.out
*.app

# debug information files
*.dwo

# cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# xmake
.xmake/

# Visual Studio 2015/2017/2022 cache/options directory
.vs/
vsxmake*

# Clion
*.iml
.idea

# 4coder
*.4coder

# vscode
.vscode/

# python
.venv

# build dirs
cmake-build-*
build

# misc
concat.py
all_sources.txt
vars.bak
.build_cache
*_changed*

# android
.gradle
*.apk
*.so
**/local.properties
